@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
}

#root {
  min-height: inherit;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .darkDefaultButton {
    @apply bg-inherit font-semibold text-[17px] leading-[17px] tracking-[2.5px] px-12 py-6 border-[1px] border-white;
  }
  .darkHoverButton {
    @apply bg-[#ffffff] text-[#17192B] font-semibold text-[17px] leading-[17px] tracking-[2.5px] px-12 py-6;
  }
  .darkInactiveButton {
    @apply bg-[#ffffff] text-[#17192B] text-grey-300 font-semibold text-[17px] leading-[17px] tracking-[2.5px]  px-6 py-3 border-2 border-grey-300;
  }
  .lightDefaultButton {
    @apply bg-[#111111] text-white font-semibold text-[17px] leading-[17px] tracking-[2.5px] px-8 py-6 border-[1px];
  }
  .lightHoverButton {
    @apply bg-[#ffffff] text-[#17192B] font-semibold text-[17px] leading-[17px] tracking-[2.5px] px-12 py-6;
  }
  .lightInactiveButton {
    @apply bg-[#ffffff] text-[#17192B] text-grey-300 font-semibold text-[17px] leading-[17px] tracking-[2.5px]  px-6 py-3 border-2 border-grey-300;
  }
}
